<div>
  <img width=100% alt="Event Logo" src="\assets\img\evenement-decoration-salle-mulhouse-alsace.jpg">

  <div id="mySidenav">
    <div>
      <a [routerLink]="['/login']" id="login"> Login </a>
      <a [routerLink]="['/register']" id="register"> Register </a>
      <!-- <a [routerLink]="['/clientSpace', persons.persons.id]" id="clientSpace"> Client Space </a> -->
      <a [routerLink]="['/login']" id="clientSpace"> Client Space </a>

    </div>
  </div>
</div>

<div *ngFor="let event of events">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <a [routerLink]="['/event', event.id]">
          <h1>{{event.name}}</h1>
          <img id="left" src="assets\img\Events.jpg" alt="Avatar" style="width:200px;height:200px;">
        </a>
        <p>{{event.place}}</p>
        <p>{{event.startEvent}}</p>
        <p>{{event.endEvent}}</p>
      </div>
      <div class="flip-card-back">
        <div>Romain, TUPUDUCU</div>
        <span style="background-color: brown;" (click)="debug(event.activities)">DEBUG BUTTON</span>
        <div *ngFor="let activity of event.activities">
          {{activity.name}}
        </div>
      </div>
    </div>
  </div>
</div>
