<div class="container">
  <img width=100% alt="Event Logo" src="\assets\img\evenement-decoration-salle-mulhouse-alsace.jpg">

  <div id="mySidenav">
    <div>
      <a [routerLink]="['/login']" id="login"> Login </a>
      <a [routerLink]="['/register']" id="register"> Register </a>
      <!-- <a [routerLink]="['/clientSpace', persons.persons.id]" id="clientSpace"> Client Space </a> -->
      <a [routerLink]="['/login']" id="clientSpace"> Client Space </a>
    </div>
  </div>
</div>

<div *ngFor="let event of eventAndPerson.events" class="flip-card" id="container">
  <div class="flip-card-inner">

    <a [routerLink]="['/event', event.id]">
      <h1 class="flip-card-front">{{event.name}}</h1>
      <img id="left" src="assets\img\Events.jpg" alt="Avatar" style="width:200px;height:200px;">
    </a>

    <div class="flip-card-back">
      <p>{{event.description}}</p>
      <p>{{event.place}}</p>
      <p>{{event.startEvent}}</p>
      <p>{{event.endEvent}}</p>
    </div>
  </div>


</div>
