.container {

  position: relative;
  height: 50%;
  width: 100%;
}

#mySidenav a {
position: absolute;
left: -10px;
transition: 0.3s;
padding: 15px;
width: 100px;
text-decoration: none;
font-size: 20px;
color: white;
border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
left: 0;
}


#Create {
top: 10px;
background-color: #4CAF50;
}

#login {
top: 100px;
background-color: #2196F3;
}

#register {
top: 170px;
background-color: #f4433681;
}



/* Bottom right text */
.text-block {
position: center;
bottom: 30px;
right: 30px;
color: black;

}
.events {
position: center;
bottom: 30px;
right: 30px;

}
.event-title
{
font: 10px arial, sans-serif;
font-size: 100%;
}
.grid-container {
display: grid;
grid-template-columns: auto auto auto auto;
background-color: rgb(247, 243, 240);
padding: 20px;
}
.grid-item {
background-color: rgba(32, 170, 159, 0.8);
font-size: 20px;
text-align: center;
transition: 0.3s;
padding: 15px;
width: 100px;
text-decoration: none;
color: white;
border-radius: 5px 5px 5px 5px;
}
