
<div id="mySidenav">
    <a [routerLink]="['/home']" id="home"> Home </a>
    <a [routerLink]="['/createEvent']" id="Create"> Create your event </a>
    <a [routerLink]="['/login']" id="login"> Login </a>
    <a [routerLink]="['/register']" id="register"> Register </a>
</div>

<!--
<div  *ngFor="let event of events">
    <div class="activity-title"> <a [routerLink]="['/event']">{{event.name}} </a>


  <div  *ngFor="let event of events"></div>
  <div> <a [routerLink]="['/activityInscription']">{{activity.name}} </a>

    {{activity.description}}
    <br>
    {{activity.startActivity}}
    <br>
    {{activity.endActivity}}
    <br>
  </div>
-->
<div>{{event}}</div>

