<!--
<div id="mySidenav">
    <a [routerLink]="['/home']" id="home"> Home </a>
    <a [routerLink]="['/createEvent']" id="Create"> Create your event </a>
    <a [routerLink]="['/login']" id="login"> Login </a>
    <a [routerLink]="['/register']" id="register"> Register </a>
</div>


<div> <a [routerLink]="['/activity-item']">{{ eventName }}</a></div>-->

<div class="">{{ eventName }}</div>
<div>{{ descreption }}</div>
<div>{{ eventStart}}</div>
<div>{{ eventEnd}}</div>


<!--

  <div >{{ activities |json}}</div>
 <div class="grid-item"> <a [routerLink]="['/activity-item',activity-item.id]">{{activity.name}} </a></div>
  </div>-->

  <div *ngIf="!activityError"  class="grid-container">
      <div  *ngFor="let activity of activities">
            <div class="grid-item">{{activity.name}}</div>
            <div class="grid-item">{{activity.description}}</div>
            <div class="grid-item">{{activity.startActivity}}</div>
            <div class="grid-item">{{activity.endActivity}}</div>
      </div>



  </div>
