<table>
    <tr>
      <th><button class="accordion"> <a [routerLink]="['/home']">HOME</a>  </button>
      <td>
       <button class="accordion"><a [routerLink]="['/signin']"> SIGN IN</a></button>
         <div class="panel">
          </div>
          </td>
          <td>
              <button class="accordion"><a [routerLink]="['/login']"> LOGIN</a></button>
                <div class="panel">
                 </div>
                 </td>
    </tr>
</table>

<div>
  <label for="firstname">First Name </label>
  <input type="text" id="firstname" name="firstname" formControlName="firstname"/>
 <!-- <span *ngIf="!firstname.valid" >Error !</span>-->
</div>

<div>
    <label for="name">Name </label>
    <input type="text" id="name" name="name" formControlName="name"/>
    <!--<span *ngIf="email.errors?.mailinator" >Error !</span>?short Expretion email.errors && email.errors.mailinator
    {{email.errors |json}}-->
</div>

<div>
  <label for="password">Password </label>
  <input type="password" id="pwd" name="pwd" formControlName="password"/>
  <!--<span *ngIf="email.errors?.mailinator" >Error !</span>?short Expretion email.errors && email.errors.mailinator
  {{email.errors |json}}-->
</div>

