  <h2><a [routerLink]="['/home']">HOME</a></h2>


<form [formGroup]= "eventForm" (ngSubmit)="submitForm()">

    <div>
      <label for="nameOfEvent">Name of event:</label>
      <input type="text" id="nameOfEvent" name="nameOfEvent" formControlName="nameOfEvent"/>
    </div>

    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" formControlName="description"/>
    </div>

   <div>
      <label for="begins">Event begins the :</label>
      <input type="Date" id="begins" name="begins" formControlName="begins"/>
    </div>

    <div>
      <label for="ends">Event ends the :</label>
      <input type="Date" id="ends" name="ends" formControlName="ends"/>
    </div>

    <div>
      <input type="submit" [disabled]="!eventtForm.valid"/>
    </div>
    </form>


