<table>
    <tr>
      <th><button class="accordion"> <a [routerLink]="['/home']">HOME</a>  </button>
      <td>
       <button class="accordion"><a [routerLink]="['/signin']"> SIGN IN</a></button>
         <div class="panel">
          </div>
          </td>
          <td>
              <button class="accordion"><a [routerLink]="['/login']"> LOGIN</a></button>
                <div class="panel">
                 </div>
                 </td>
    </tr>
</table>



  <form [formGroup]= "eventForm" (ngSubmit)="submitForm()">

    <div>
      <label for="name">Name of event:</label>
      <input type="text" id="name" name="name" formControlName="name"/>
    </div>

    <div>
        <label for="description">Description Of Event:</label>
        <input type="text" id="description" name="description" formControlName="description"/>
    </div>

   <div>
      <label for="startEvent">Event starts the :</label>
      <input type="datetime-local" id="startEvent" name="startEvent" formControlName="startEvent"/>
    </div>

    <div>
      <label for="endEvent">Event ends the :</label>
      <input type="datetime-local" id="endEvent" name="endEvent" formControlName="endEvent"/>
    </div>

    <div>
      <input type="submit" [disabled]="!eventForm.valid"/>
    </div>
    </form>


