<table>
    <tr>
      <th><button class="accordion"> <a [routerLink]="['/home']">HOME</a>  </button>
      <td>
       <button class="accordion"><a [routerLink]="['/signin']"> SIGN IN</a></button>
         <div class="panel">
          </div>
          </td>
          <td>
              <button class="accordion"><a [routerLink]="['/login']"> LOGIN</a></button>
                <div class="panel">
                 </div>
                 </td>
    </tr>
</table>


<form [formGroup]="loginForm" (ngSubmit)="submitForm()">

  <div>
   <label for="login">Login </label>
   <input type="text" id="login" name="login" formControlName="login"/>
   <span *ngIf="hasLoginError()">*Required</span>
  </div>

  <div>
    <label for="password">Password </label>
    <input type="password" id="pwd" name="password" formControlName="password"/>
    <span *ngIf="hasPasswordError()">*Required</span>
  </div>

<br>
<input  type="submit" name="send" [disabled]="!loginForm.valid"  >
<div *ngIf="connectionError" (click)="next()">Login or Password incorrect</div><!-- (click)="next()"></div>-->
<!---->
{{logins | json}}

</form>




