<h2><a [routerLink]="['/home']">HOME</a></h2>


<form [formGroup]="loginForm" (ngSubmit)="submitForm()">

  <div>
   <label for="login">Login </label>
   <input type="text" id="login" name="login" formControlName="login"/>
   <span *ngIf="hasLoginError()">*Required</span>
  </div>

  <div>
    <label for="password">Password </label>
    <input type="password" id="pwd" name="password" formControlName="password"/>
    <span *ngIf="hasPasswordError()">*Required</span>
  </div>

<br>
<input  type="submit" [disabled]="!loginForm.valid"  >
<div *ngIf="connectionError" (click)="next()">Login or Password incorrect</div><!-- (click)="next()"></div>-->
<!---->
{{logins | json}}

</form>




