<h2><a [routerLink]="['/home']">HOME</a></h2>


<div [formGroup]="contactForm">

  <label for="id">ID </label>
  <input type="text" id="id" name="id" formControlName="id"/>
  <span *ngIf="!id.valid" >Error !</span>
</div>

<div>
    <label for="password">Password </label>
    <input type="password" id="pwd" name="pwd" formControlName="password"/>
     <span *ngIf="!password.valid" >Error !</span>
</div>
<br>
<form action="['/createEvent']">
  <input type="submit" [disabled]="isConnect()" />

</form>





