<div id="mySidenav">
  <a [routerLink]="['/home']" id="home"> Home </a>
  <a [routerLink]="['/clientSpace']" id="clientSpace"> Client Space </a>
</div>


<form [formGroup]="activityForm" (ngSubmit)="submitForm()">

  <div for="name" class="input-container">
    <input class="input-field" placeholder="Name of activity" type="text" id="name" name="name"
      formControlName="name" />
    <span *ngIf="hasNameError()">*</span>
  </div>

  <div for="description" class="input-container">
    <input class="input-field" placeholder="Description" type="text" id="description" name="description"
      formControlName="description" />
    <span *ngIf="hasDescriptionError()">*</span>
  </div>

  <div for="startActivity" class="input-container">
    <input class="input-field" placeholder="Begins at" type="datetime-local" id="startActivity" name="startActivity"
      formControlName="startActivity" />
    <span *ngIf="hasStartActivityError()">*</span>
  </div>

  <div for="endActivity" class="input-container">
    <input class="input-field" placeholder="Ends at" type="datetime-local" id="endActivity" name="endActivity"
      formControlName="endActivity" />
    <span *ngIf="hasEndActivityError()">*</span>
  </div>

  <div>
    <input type="submit" class="btn" [disabled]="!activityForm.valid" value="Create New Activity" />
    <div *ngIf="activityError">Your activity has been created! <br> Do you want to create another activity ?</div>
  </div>
</form>
