<div id="mySidenav">
  <a [routerLink]="['/home']" id="home"> Home </a>
  <a [routerLink]="['/clientSpace']" id="clientSpace"> Client Space </a>
</div>

<div *ngIf="!activityComponentIsReady">
  <app-loading></app-loading>
</div>

<div *ngIf="activityComponentIsReady">
  <div>
    <a id="a" class="previous round" [routerLink]="['/createEvent']">&#8249;</a>
  </div>

  <app-activity-form
    [title]="'Create an activity'"
    [activity]="activity"
    [submitButtonText]="'Create new activity'"
    (activitySubmitter)="submitNewActivity($event)"
  ></app-activity-form>
</div>
