<div id="mySidenav">
  <a [routerLink]="['/home']" id="home"> Home </a>
  <a [routerLink]="['/login']" id="login"> Login </a>
  <a [routerLink]="['/register']" id="register"> Register </a>
</div>

<div class="container">
  <div>
    <h2>Events YOU manage:</h2>
  </div>
  <div *ngFor="let eventItem of events">
    <app-event [editMode]="true" [eventId]="eventItem.id" (deleted)="updateAll($event)">
    </app-event>
  </div>
  <!-- <div id="createEventButton">
    <button type="button" class="button1"><a [routerLink]="['/createEvent']">Create an Event</a></button>
  </div>
</div>


<div *ngIf="activities" id="inscriptionToActivities">
  <div>
    <h2>Where you subscribed:</h2>
  </div>
  <div *ngFor="let activity of activities">
    <h3>{{activity.name}}</h3>
    <div id="UnsubscribeButton">
      <button type="button" class="button1" (click)="unsubscribe(activity.id)">Unsubscribe</button>
    </div>
  </div>
</div> -->
