
<!-- <div id="mySidenav">
  <a [routerLink]="['/home']" id="home"> Home </a>
  <a [routerLink]="['/createEvent']" id="Create"> Create your event </a>
  <a [routerLink]="['/login']" id="login"> Login </a>
  <a [routerLink]="['/register']" id="register"> Register </a>
</div> -->



<div *ngFor="let eventItem of events">
  <div>{{eventItem.id}}</div>
  <div>{{eventItem.name}}</div>
  <div>{{eventItem.description}}</div>
  <div>{{eventItem.place}}</div>
  <div>{{eventItem.startEvent}}</div>
  <div>{{eventItem.endEvent}}</div>
  <div><button type="button" (click)="deleteEvent(eventItem.id)">Delete</button></div>
</div>


