<div id="mySidenav">
  <a [routerLink]="['/home']" id="home"> Home </a>
</div>

<div class="centerEvent">
  <h2>Events YOU manage:</h2>
  <div id="createEventButton">
    <a [routerLink]="['/createEvent']">
      <button type="button" class="button1">Create an Event</button>
    </a>
  </div>

  <div *ngFor="let eventItem of events">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="image-container">
            <img src="assets\img\sh.jpg" style="width:300px;height:300px;">
            <h1 class="text">{{eventItem.name}}</h1>
          </div>
        </div>

        <div class="flip-card-back">
          <h2 class="text"><a [routerLink]="['/showActivity',eventItem.id]">See the activities and modify if you
              want</a></h2>
        </div>
      </div>
    </div>
  </div>
</div>
