
#mySidenav a {
  position: absolute;
  left: -10px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}


#home {
  top: 10px;
  background-color: #f44336;
}
#login {
  top: 80px;
  background-color: #4CAF50;
}

#register {
  top: 170px;
  background-color: #2196F3;
}

#errorMessage {
  color: red;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;

}

.input-field {
  width: 100%;
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 70%;
  opacity: 0.9;
  margin-left: 15%;
  margin-right: 15%;
}

.btn:hover {
  opacity: 1;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgb(247, 243, 240);
  padding: 15px;

}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(32, 170, 159, 0.8);
  font-size: 20px;
  text-align: center;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  color: white;
  border-radius: 5px 5px 5px 5px;

}
#managedEvents {
  text-align: center;
  border-color: purple;
  border-style: dashed;
}

.button {
  background-color: #2196F3;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.button1 {
  background-color: rgb(55, 204, 92);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

#createEventButton {
  margin: 1em 0;
}
