#mySidenav a {
  position: absolute;
  left: -10px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 10px;
  background-color: #f44336;
}

#login {
  top: 80px;
  background-color: #4CAF50;
}

#register {
  top: 170px;
  background-color: #2196F3;
}

#managedEvents {
  text-align: center;
  margin: 1em 15%;
  border-color: purple;
  border-style: dashed;
}

#inscriptionToActivities{
  text-align: center;
  margin: 1em 15%;
  border-color: purple;
  border-style: dashed;
}

.button1 {
  background-color: rgb(55, 204, 92);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.button1:hover {
  opacity: 0.7;
}

.button1:active {
  opacity: 0.5;
}

#createEventButton {
  margin: 1em 0;
}


.container {
  position: relative;
  width: 50%;
  margin: 1em 15%;
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
.img {
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
   background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding: 16px 32px;


}
.centerd {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .grid {
   display: grid;
 }

