<div *ngIf="!editMode" id="mySidenav">
  <a [routerLink]="['/home']" id="home"> Home </a>
  <a [routerLink]="['/login']" id="login"> Login </a>
  <a [routerLink]="['/register']" id="register"> Register </a>
</div>

<div *ngIf="eventItem" class="card">

  <div id="eventInfo">
    <h1>{{eventItem.name}}</h1>
    <h5>{{eventItem.place}}</h5>
    <h5>{{eventItem.startEvent}}</h5>
    <h5>{{eventItem.endEvent}}</h5>
  </div>

  <div *ngIf="editMode" id="eventButtons">
    <div id="newActivityButton">
      <button type="button" class="buttonFromZahraa"><a [routerLink]="['/activity', eventItem.id]">+ Add a new
          activity</a></button>
    </div>
    <div id="deleteEventButton">
      <button type="button" class="buttonFromZahraa" (click)="toggleConfirmButtonDisplay()">x {{deleteButton}}</button>
      <button *ngIf="displayConfirmButton" type="button" class="buttonFromZahraa"
        (click)="deleteEvent(eventItem.id)">Confirm</button>
      <p id="errorMessage">{{unableToDeleteMessage}}</p>
    </div>
  </div>

  <img src="\assets\img\images.jpg" alt="Denim Jeans" style="width:100%">

  <!-- <div *ngIf="!activityError"> Zahraa: what for?-->
  <div *ngFor="let activity of eventItem.activities">
    <h3>{{activity.name}}</h3>
    <div class="price">{{activity.description}}</div>
    <div>{{activity.startActivity}}</div>
    <div>{{activity.endActivity}}</div>
    <div *ngIf="!editMode">
      <app-activityInscription [activity]="activity"></app-activityInscription>
      <!-- <button type="button" class="button" (click)="inscription(activity.id)">
        <a [routerLink]="['/activityInscription', activity.id]"> Inscription </a>
      </button> -->
    </div>
  </div>
  <!-- </div> -->
</div>

<!--
<div class="coupon">
  <div class="container">
    <h3>{{ eventName }}</h3>
    <div>{{ eventDescreption }}</div>
    <div>{{ eventStart}}</div>
    <div>{{ eventEnd}}</div>
  </div>

  <div class="contain" style="background-color:white">
    <div *ngIf="!activityError">
      <div *ngFor="let activity of activities">
        <div>
          <h4>{{activity.name}}</h4>
        </div>
        <div>{{activity.description}}</div>
        <div>{{activity.startActivity}}</div>
        <div>{{activity.endActivity}}</div>
        <button (click)="inscription(event.id)" class="btn">inscription</button>
      </div>
    </div>
  </div>

</div> -->
