#mySidenav a {
  position: absolute;
  left: -10px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 10px;
  background-color: #f44336;
}

#login {
  top: 80px;
  background-color: #2196F3;
}

#register {
  top: 160px;
  background-color: #f4433681;
}


.button1 {
  background-color: #2196F3;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

#errorMessage {
  color: red;
}

.flip-card {
  float: left;
  height: 30%;
  width: 30%;
  background-color: transparent;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: relative;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.flip-card-front {
font-size: 15px;
background-color: white;
color: black;
margin-bottom: -30%;
}

.flip-card-back {
font-size: 15px;
background-color: white;
color: red;
transform: rotateY(180deg);
margin-top: -10%;
}
