  .button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(76, 175, 153);
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;
  }

  .button:hover {background-color: #2f7e71}

  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .center {
    margin-top: 60px;
    text-align: center;

  }
