
#mySidenav a {
  position: absolute;
  left: -10px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  }

  #mySidenav a:hover {
  left: 0;
  }

  #home {
    top: 10px;
    background-color: #f44336;
  }
  #Create {
    top: 80px;
    background-color: #4CAF50;
  }

  #login {
    top: 170px;
    background-color: #2196F3;
  }

  #register {
    top: 240px;
    background-color: #f4433681;
  }


  .title{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  /* Bottom right text */
  .text-block {
  position: center;
  bottom: 30px;
  right: 30px;
  color: black;

  }
  .events {
  position: center;
  bottom: 30px;
  right: 30px;

  }
  .event-title
  {
  font: 15px arial, sans-serif;
  font-size: 150%;
  }

  .button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(76, 175, 153);
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;

  }

  .button:hover {background-color: #2f7e71}

  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .center {
    margin-top: 60px;
    text-align: center;

  }
