<div class="container">
<div class="TopRight">
<table>
    <tr>
      <th><button class="accordion"> <a [routerLink]="['/home']">HOME</a>  </button>
      <td>
       <button class="accordion"><a [routerLink]="['/register']">REGISTER</a></button>
         <div class="panel">
          </div>
          </td>
          <td>
              <button class="accordion"><a [routerLink]="['/login']"> LOGIN</a></button>
                <div class="panel">
                 </div>
                 </td>
    </tr>
</table>
</div>

<div class="eventBorder">

  <div  *ngFor="let activity of activities">
      <div class="activity-title"> <a [routerLink]="['/inscription']">{{activity.name}} </a>

    </div>
    <div class="activity">
      {{activity.description}}
      <br>
      {{activity.startActivity}}
      <br>
      {{activity.endActivity}}
      <br>
    </div>
  </div>
