<table>
  <tr>
    <th><button class="accordion"> <a [routerLink]="['/home']">HOME</a>  </button>
    <td>
     <button class="accordion"><a [routerLink]="['/register']">REGISTER</a></button>
       <div class="panel">
        </div>
        </td>
        <td>
            <button class="accordion"><a [routerLink]="['/login']"> LOGIN</a></button>
              <div class="panel">
               </div>
               </td>
  </tr>
</table>



<form [formGroup]= "activityForm" (ngSubmit)="submitForm()">

  <div>
    <label for="name">Name of activity:</label>
    <input type="text" id="name" name="name" formControlName="name"/>
  </div>

  <div>
      <label for="description">Description Of activity:</label>
      <input type="text" id="description" name="description" formControlName="description"/>
  </div>

 <div>
    <label for="startActivity">Activity starts the :</label>
    <input type="datetime-local" id="startActivity" name="startActivity" formControlName="startActivity"/>
  </div>

  <div>
    <label for="endActivity">Activity ends the :</label>
    <input type="datetime-local" id="endActivity" name="endActivity" formControlName="endActivity"/>
  </div>

  <div>
    <input type="submit" [disabled]="!activityForm.valid" value="Send"/>
  </div>
  </form>


