<div style="text-align:center">
  <h1>
    We make your {{ title }} awesome!
  </h1>
  <img width="1000" alt="Event Logo" src="\assets\img\evenement-decoration-salle-mulhouse-alsace.jpg">
</div>
<h2>Que voulez vous faire ?</h2>
<ul>
  <li>
    <!--<h2><a target="_blank" rel="noopener" href="/createEvent">Créer un événement</a></h2>-->
    <h2><a [routerLink]="['/login']">Créer un événement</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">Consulter les événements à venir</a></h2>
  </li>
</ul>
