
  <img class="container" width=50% alt="Event Logo" src="\assets\img\evenement-decoration-salle-mulhouse-alsace.jpg">

     <h1>We make your {{ title }} awesome!</h1>

<h2>What do you want to do?</h2>
<table>
    <tr>
      <th><button class="accordion"><a [routerLink]="['/signInLogin']">
            Create your event </a></button>

        <div class="panel">
        </div></th>
        <td>
        <button class="accordion"><a [routerLink]="['/register']"> REGISTER</a></button>
        <div class="panel">
         </div>
         </td>
         <td>
             <button class="accordion"><a [routerLink]="['/login']"> LOGIN</a></button>
               <div class="panel">
                </div>
                </td>
     <!-- <td>
         <div class=container> <button class="accordion"><a [routerLink]="['/activity']"> See upcoming events</a></button></div>
         <div class="panel">

          </div>
          </td>-->
    </tr>
</table>

